pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
*/bin/Debug
*.suo
*/bin/Debug
*/bin/Release
*obj
.cache
.Xauthority
.bash_history
.compiz
.config
.mozilla
DbaScraper.userprefs
packages
build
DbaScraper/DesignTimeURIs
DbaScraper/FreebaseSchema
DbaScraper/WorldBankSchema
ScraperWeb/DesignTimeURIs
ScraperWeb/FreebaseSchema
ScraperWeb/WorldBankSchema

