.signOut {
  display: inline-block;
  background: #dd4b39;
  color: white;
  width: 110px;
  height: 34px;
  border-radius: 6px;
  white-space: nowrap;
  margin-right: 10px;
}

.signIn {
  margin-top: 7px;
  margin-right: 15;
}